<html>
<head>
    <title>Libros listados</title>    
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
</head>
<body>
    <h1>Lista de Libros</h1>
    <ul>
        {% for libro in libro_list %}
            <li>
                <h2><a href="{% url 'libro_details' pk=libro.pk%}">{{ libro.titulo }}</a></h2>
                <a href="{% url 'libro_edit' pk=libro.pk%}" role="button" method="POST"> Editar </a>
                <a href="{% url 'libro_delete' pk=libro.pk%}" role="button" method="POST">Borrar</a>
            </li>
            </li>
        {% empty %}
            <li>No hay libros por mostrar.</li>
        {% endfor %}
        
        <li>
            <a href="{% url 'new' %}" role="button" method="POST">Añadir</a>
        </li>
    </ul>
</body>
</html>
